body {
  background-color: #f66666;
  font-family: sans-serif;
  margin: 20px;
}

ul {
  text-align: left;
}

a {
  display: inline-block;
  padding: 10px 15px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

a:hover {
  background-color: lightblue; 
  color: darkblue;
}

#main-title {
  font-size: 32px;
}

.intro {
  text-align: right;
}body {
  background-color: #ef8989;
  font-family: sans-serif;
  margin: 20px;
}

ul {
  text-align: left;
}

a {
  display: inline-block;
  padding: 10px 15px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

a:hover {
  background-color: lightblue;
  color: darkblue;
}

#main-title {
  font-size: 32px;
}

.intro {
  text-align: right;
}